<div class="widget widget-hot">
    <div class="widget-head">
        <span class="head-bar"></span>
        <h3 class="head-title">热门文章</h3>
        <span class="head-tip"><i class="fa fa-fire"></i> HOT</span>
    </div>
    <div class="widget-body">
        {notempty name="$hot_lists"}
        <div class="hot-list">
            {foreach $hot_lists as $k => $v}
            {if 2 > $k}
            <!-- TOP 大图 -->
            <a class="hot-top" href="{:url('articles/pc.Index/detail', ['id'=>$v.id])}" title="{$v.title}">
                <span class="rank rank-{php}echo intval($k+1);{/php}">{php}echo intval($k+1);{/php}</span>
                {notempty name="$v.cover_400"}
                <img class="hot-img" src="{$v['cover_400']}" alt="{$v['title']}">
                {else/}
                <span class="hot-img hot-img-empty"><i class="fa fa-picture-o"></i></span>
                {/notempty}
                <span class="hot-mask"></span>
                <span class="hot-info">
                    <span class="hot-title text-ellipsis-2">{$v['title']}</span>
                    <span class="hot-meta">
                        <span class="cate">{$v['category']['title']|default='文章'}</span>
                        <span class="view"><i class="fa fa-eye"></i> {$v['handling_view']|default=0}</span>
                    </span>
                </span>
            </a>
            {else/}
            <!-- 常规小图 -->
            <a class="hot-line" href="{:url('articles/pc.Index/detail', ['id'=>$v.id])}" title="{$v.title}">
                <span class="rank rank-{php}echo intval($k+1);{/php}">{php}echo intval($k+1);{/php}</span>
                <span class="line-body">
                    <span class="line-title text-ellipsis">{$v['title']}</span>
                    <span class="line-meta">
                        <span class="cate">{$v['category']['title']|default='文章'}</span>
                        <span class="time"><i class="fa fa-clock-o"></i>{$v['create_time_str']|default=''}</span>
                    </span>
                </span>
            </a>
            {/if}
            {/foreach}
        </div>
        {else/}
        <div class="hot-empty">暂无热门内容</div>
        {/notempty}
    </div>
</div>
