{extend name="../../common/view/main"/}
{block name="style"}
<link href="__STATIC__/articles/pc/css/main.min.css" rel="stylesheet">
{/block}

{block name="body"}
<div id="main-container" class="article-page articles-detail-page">
    <div class="article-container">

        <!-- 面包屑 -->
        <div class="article-breadcrumb">
            <a href="/">首页</a>
            <span class="sep"><i class="fa fa-angle-right"></i></span>
            <a href="{:url('/articles/lists')}">文章列表</a>
            {if !empty($data['category']['id'])}
            <span class="sep"><i class="fa fa-angle-right"></i></span>
            <a href="{:url('/articles/lists', ['category_id' => $data.category.id])}">{$data.category.title|default=''}</a>
            {/if}
            <span class="sep"><i class="fa fa-angle-right"></i></span>
            <span class="cur text-ellipsis">正文</span>
        </div>

        <div class="article-layout">
            <!-- 左侧主内容 -->
            <section class="article-main">
                <div class="detail-card">

                    <!-- 文章头部 -->
                    <header class="detail-head">
                        {if !empty($data['category']['id'])}
                        <a class="detail-cat" href="{:url('/articles/lists', ['category_id' => $data.category.id])}">
                            <i class="fa fa-folder-open-o"></i> {$data.category.title|default=''}
                        </a>
                        {/if}
                        <h1 class="detail-title">{$data.title|default=''}</h1>

                        <div class="detail-meta">
                            <span class="meta-item"><i class="fa fa-clock-o"></i>{$data.create_time_str|default=''}</span>
                            <span class="meta-divider">·</span>
                            <span class="meta-item"><i class="fa fa-eye"></i>{$data.handling_view|default=0} 阅读</span>
                            {if !empty($data['author']['name'])}
                            <span class="meta-divider">·</span>
                            <span class="meta-item author">
                                <i class="fa fa-user-circle-o"></i>{$data.author.name}
                            </span>
                            {/if}
                        </div>

                        {notempty name="$data.description"}
                        <div class="detail-abstract">
                            <i class="fa fa-quote-left"></i>
                            <p>{$data.description|default=''}</p>
                        </div>
                        {/notempty}

                        {notempty name="$data.keywords"}
                        <div class="detail-tags">
                            <span class="tags-label"><i class="fa fa-tags"></i>标签</span>
                            {volist name="$data.keywords" id="vo"}
                            <a class="tag-item" href="{:url('/articles/lists', ['keyword' => $vo])}">{$vo|default=''}</a>
                            {/volist}
                        </div>
                        {/notempty}
                    </header>

                    <!-- 文章正文 -->
                    <article class="detail-body">
                        {:htmlspecialchars_decode($data.content)}

                        {notempty name="$data['source']"}
                        <div class="detail-source">
                            <i class="fa fa-paper-plane-o"></i> 本文来源：{$data.source|default=''}
                        </div>
                        {/notempty}
                    </article>

                    <!-- 版权声明 -->
                    <div class="detail-copyright">
                        <div class="copyright-icon"><i class="fa fa-creative-commons"></i></div>
                        <div class="copyright-text">
                            <p>本页面内容可能来源自网络，如涉及版权或内容问题，请通过页面底部渠道联系删除或修改。</p>
                            <p>非特殊说明，本文版权归原作者所有，转载请注明出处。</p>
                        </div>
                    </div>

                    <!-- 上一篇 / 下一篇 -->
                    <div class="detail-nav">
                        <a class="nav-item prev {if !$prev_detail}disabled{/if}"
                            href="{if $prev_detail}{:url('articles/pc.Index/detail', ['id'=>$prev_detail.id])}{else/}javascript:;{/if}">
                            <span class="nav-arrow"><i class="fa fa-angle-left"></i></span>
                            <span class="nav-box">
                                <span class="nav-label">上一篇</span>
                                <span class="nav-title text-ellipsis">{if $prev_detail}{$prev_detail.title}{else/}已经是第一篇了{/if}</span>
                            </span>
                        </a>
                        <a class="nav-item next {if !$next_detail}disabled{/if}"
                            href="{if $next_detail}{:url('articles/pc.Index/detail', ['id'=>$next_detail.id])}{else/}javascript:;{/if}">
                            <span class="nav-box">
                                <span class="nav-label">下一篇</span>
                                <span class="nav-title text-ellipsis">{if $next_detail}{$next_detail.title}{else/}已经是最后一篇了{/if}</span>
                            </span>
                            <span class="nav-arrow"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>

                    <!-- 点赞 / 收藏 -->
                    <div class="action-bar">
                        <div class="action-tip">如果这篇文章对你有帮助，不妨分享给更多人～</div>
                        <div class="action-items">
                            <button type="button" class="action-btn act-support {if $data['support_yesno']==1}active{/if}"
                                data-url="{:url('articles/api.support/action', ['info_id'=>$data.id])}" data-id="{$data['id']}">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="act-num">{$data.handling_support|default=0}</span>
                                <span class="act-label">点赞</span>
                            </button>
                            <button type="button" class="action-btn act-fav {if $data['favorites_yesno']==1}active{/if}"
                                data-url="{:url('articles/api.favorites/action', ['info_id'=>$data.id])}" data-id="{$data['id']}">
                                <i class="fa fa-star"></i>
                                <span class="act-num">{$data.handling_favorites|default=0}</span>
                                <span class="act-label">收藏</span>
                            </button>
                        </div>
                    </div>

                    <!-- 评论区 -->
                    <section class="comment-box">
                        <div class="section-title">
                            <span class="head-bar"></span>
                            <h3 class="title">参与评论</h3>
                        </div>

                        <form action="{:url('articles/api.comment/add')}" method="post" class="comment-form">
                            <input type="hidden" name="uid" value="{:get_uid()}" />
                            <input type="hidden" name="article_id" value="{$data['id']}" />
                            <div class="comment-editor">
                                <div class="editor-user">
                                    {if condition="is_login()"}
                                    <img class="user-avatar" src="{$common_header_user.avatar64}" alt="avatar">
                                    <span class="user-name text-ellipsis">{$common_header_user.nickname}</span>
                                    {else/}
                                    <img class="user-avatar" src="__COMMON__/images/default_avatar_64_64.jpg" alt="avatar">
                                    <span class="user-name text-ellipsis">游客</span>
                                    {/if}
                                </div>
                                <div class="editor-main">
                                    <textarea class="editor-textarea" name="content" rows="3" placeholder="说点什么吧，友善的评论是交流的开始～"></textarea>
                                    <div class="editor-foot">
                                        <span class="editor-hint"><i class="fa fa-commenting-o"></i> 请文明发言，理性评论</span>
                                        <button type="submit" class="editor-submit">发布评论</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="section-title comments-title">
                            <span class="head-bar"></span>
                            <h3 class="title">评论列表</h3>
                        </div>

                        <div class="comment-list-wrap" data-url="{:url('articles/api.comment/lists', ['article_id'=>$data.id])}" data-support-url="{:url('articles/api.comment/support')}">
                            <div class="list-section" data-role="list-section">
                                <div class="state-box"><i class="fa fa-spinner fa-pulse"></i> 评论加载中…</div>
                            </div>
                            <div class="comment-pager hidden">
                                <ul id="pager" class="pager" data-ride="pager" data-page="1" data-elements="prev,nav,next"></ul>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

            <!-- 右侧侧边栏 -->
            <aside class="article-aside">
                {include file="pc/common/_category" /}
                {include file="pc/common/_hot" /}
                <div class="widget widget-guide">
                    <div class="guide-main">
                        <i class="fa fa-book"></i>
                        <p>意犹未尽？继续探索更多精彩内容</p>
                        <a class="guide-btn" href="{:url('articles/pc.Index/lists')}">
                            返回文章列表 <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="__STATIC__/articles/pc/js/main.min.js"></script>
<script>
    $(function () {
        // 获取分页器实例对象
        var myPager = $('.pager').data('zui.pager');
        // 评论列表接口地址
        var url = $('.comment-list-wrap').data('url');

        // 提交评论
        $(document).on('submit', 'form.comment-form', function (e) {
            e.preventDefault();
            var $form = $(this);
            var action = $form.attr('action');

            $.post(action, $form.serialize(), function (res) {
                if (res.code == 200) {
                    toast.success(res.msg);
                    $form.find('textarea[name="content"]').val('');
                    loadCommentList(url, {}, 1, function (res) {
                        myPager.set(res.data.current_page, res.data.total, res.data.per_page);
                        if (res.data.last_page > 1) {
                            $('.comment-pager').removeClass('hidden');
                        } else {
                            $('.comment-pager').addClass('hidden');
                        }
                    });
                } else {
                    toast.error(res.msg);
                }
            });
        });

        // 初始加载评论
        loadCommentList(url, {}, 1, function (res) {
            myPager.set(res.data.current_page, res.data.total, res.data.per_page);
            if (res.data.last_page > 1) {
                $('.comment-pager').removeClass('hidden');
            }
        });

        // 分页切换
        $('.pager').on('onPageChange', function (e, state, oldState) {
            if (state.page !== oldState.page) {
                loadCommentList(url, {}, state.page, function () {});
            }
        });

        // 文章点赞
        $('.action-bar').on('click', '.act-support', function () {
            var _this = $(this);
            $.post(_this.data('url'), { info_id: _this.data('id'), info_type: 'Articles' }, function (ret) {
                if (ret.code == 200) {
                    toggleActionNum(_this);
                } else {
                    loginRequired(ret);
                }
            });
        });

        // 文章收藏
        $('.action-bar').on('click', '.act-fav', function () {
            var _this = $(this);
            $.post(_this.data('url'), { info_id: _this.data('id'), info_type: 'Articles' }, function (ret) {
                if (ret.code == 200) {
                    toggleActionNum(_this);
                } else {
                    loginRequired(ret);
                }
            });
        });

        // 评论点赞
        $('.comment-list-wrap').on('click', '.comment-like', function () {
            var _this = $(this);
            var id = _this.data('id');
            var supportUrl = $('.comment-list-wrap').data('support-url');
            $.post(supportUrl, { info_id: id, info_type: 'Comment' }, function (ret) {
                if (ret.code == 200) {
                    var $num = _this.find('.num');
                    var cur = parseInt($num.text(), 10) || 0;
                    if (_this.hasClass('active')) {
                        _this.removeClass('active');
                        _this.find('.fa').removeClass('fa-heart').addClass('fa-heart-o');
                        $num.text(cur - 1 > 0 ? cur - 1 : '赞');
                    } else {
                        _this.addClass('active');
                        _this.find('.fa').removeClass('fa-heart-o').addClass('fa-heart');
                        $num.text(cur > 0 ? cur + 1 : 1);
                    }
                } else {
                    loginRequired(ret);
                }
            });
        });

        // 切换点赞/收藏状态并同步数字
        function toggleActionNum($btn) {
            var $num = $btn.find('.act-num');
            var cur = parseInt($num.text(), 10) || 0;
            if ($btn.hasClass('active')) {
                $btn.removeClass('active');
                $num.text(cur > 0 ? cur - 1 : 0);
            } else {
                $btn.addClass('active');
                $num.text(cur + 1);
            }
        }

        // 登录校验
        function loginRequired(ret) {
            if (ret.data == 'login') {
                $.zui.modalTrigger.show({
                    'showHeader': false,
                    'remote': '/ucenter/Common/quickLogin.html'
                });
            } else {
                toast.error(ret.msg);
            }
        }
    });
</script>
{/block}
